<div class="card">
  <div class="card-header">
    Entity Management
  </div>
  <div class="card-body">
      <form #userForm="ngForm">
        <div class="form-group" >
      <label>Entity Type Name:</label>
      <input type="text" class="form-control col-sm-4" id="entitytypename" placeholder="Enter EntityType Name" name="entitytypename">
          </div>
      
      <table *ngIf="entitydbjson" class="table table-bordered">
  <thead>
    <tr align="center">
      <th *ngFor="let displayedColumn of displayedColumns">
        {{displayedColumn}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let db of entitydbjson" >
      <td align="center">{{db.propertyid}}</td>
      <td align="center">{{db.propertyname}}</td>
      <td align="center">{{db.length}}</td>
      <td align="center">{{db.datatype}}</td>
    </tr>
  </tbody>
</table>
<div id="outer">
        <div class="inner"><button type="submit" (click)="openDialog()" class="btn msgBtn">Add Property</button></div>
        <div class="inner"><button type="submit" class="btn msgBtn2">Delete property</button></div>
    </div>
    <br>
    <br>
      <div id="outer">
        <div class="inner"><button type="submit" class="btn msgBtn">Save</button></div>
        <div class="inner"><button type="submit" class="btn msgBtn2">Cancel</button></div>
            </div>
    </form>
    </div>
</div>