<div class="card">
  <div class="card-header">
    Users
    <button mat-raised-button (click)="openCreate()" class="btn  pull-right">Add User</button>
  </div>
  
<table class="table table-bordered">
  <thead>
    <tr align="center">
      <th *ngFor="let displayedColumn of displayedColumns">
        {{displayedColumn}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let db of dataSource" >
      <td align="center">{{db.FirstName}}</td>
      <td align="center">{{db.LastName}}</td>
      <td align="center">{{db.UserName}}</td>
      <td align="center">{{db.UserEmail}}</td>
      <td align="center">{{db.UserPhone}}</td>
      <td>
        <div class="row" >
          <div class="col-sm-12 text-center">
        <button class="btn btn-md " id="btnSearch" (click)="openUpdate(db)" >Edit</button>
        <button class="btn btn-md" id="btnClear" (click)="deleteUser(db)">Delete</button>
      </div>
      </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
