<div class="card">
  <div class="card-header">
   Users Role
    <!--<button type="button" class="btn btn-primary pull-right" (click)="openModal(template)">Add User</button>-->   
  </div>
  <div class="card-body">
     <form [formGroup]="createRoleForm" >
      <mat-form-field *ngIf="hide" >
          <input matInput placeholder="Rolename"(click)="rolenameValidation(createRoleForm)" id="target" type="text" #RoleName   formControlName="RoleName" required>
        </mat-form-field>
         <mat-form-field *ngIf="show">
        <mat-select  placeholder="Role" (selectionChange)="updateUserRole($event)" formControlName="RoleId" #RoleId>
          <mat-option *ngFor="let topping of _data1" [value]="topping">{{topping.RoleName}}</mat-option>
        </mat-select>
      </mat-form-field>&nbsp;&nbsp;
         <button *ngIf="show1" mat-raised-button (click)="createnewrole()"  type="submit">Add New Role</button>
         <button *ngIf="showc" mat-raised-button (click)="createnewrolecancel()"  type="submit">Cancel New Role</button>
      <br>
         <mat-form-field>
        <mat-select placeholder="Access" #Access [(value)]="selected1" formControlName="Access">
          <mat-option *ngFor="let access of dataAce" [value]="access.AccessId">{{access.AccessName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
   <mat-form-field>
        <mat-select placeholder="Permission" #Permission [(value)]="selected" formControlName="Permission">
          <mat-option *ngFor="let permision of dataper" [value]="permision.PermissionId">{{permision.PermissionName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button (click)="createUserRole(createRoleForm.value)"  type="submit">Add</button>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr align="center">
      <th *ngFor="let displayedColumn of displayedColumns">
        {{displayedColumn}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let db of tablearr" >
      <td align="center">{{db.AcessName}}</td>
      <td align="center">{{db.PermissionName}}</td>
      <td align="center"><button class="btn btn-md" id="btnClear" (click)="deleteUserRoles(db)">Delete</button></td>
    </tr>
  </tbody>
</table> 
<br>
<br>
<div id="outer">
        <div class="inner"><button type="submit" (click)="finalsave(createRoleForm.value)" class="btn msgBtn">Save</button></div>
        <div class="inner"><button type="submit" class="btn msgBtn2">Cancel</button></div>
            </div>
  </form>
    </div>  
  </div>
  